* {
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  height: 50dvh;
  place-content: center;
}

.container {
  width: 26rem;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 24px;
  height: 24px;
  border: 1px solid black;
}
